pathvalidate==2.5.0
numpy==1.21.1
opencv_python==4.2.0.34
torch==1.4.0
torchvision==0.5.0
albumentations==0.5.2
efficientnet_pytorch==0.6.3
facenet_pytorch==2.5.1
Pillow==9.0.0
pretrainedmodels==0.7.4
Flask==1.1.4
easydict==1.8
PyYAML==5.3.1
tensorboardX==2.0
pandas==1.0.4
pydocs==0.2
boto3==1.17.5
scipy==1.4.1
Cython==0.29.27
decord==0.4.2
einops==0.4.0
lmdb==1.0.0
scikit_learn==0.24.1
scikit_image==0.18.1
timm==0.3.4
appdirs==1.4.4
attrs==19.3.0
autopep8==1.5.2
backcall==0.1.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.4
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
idna==2.9
imageio==2.9.0
importlib-metadata==1.5.0
jedi==0.16.0
Jinja2==2.11.3
jsonschema==3.2.0
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.5
notebook==6.0.3
olefile==0.46
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.11
prometheus-client==0.7.1
prompt-toolkit==3.0.24
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.2
pytz==2019.3
PyWavelets==1.2.0
pyzmq==18.1.1
requests==2.23.0
scikit-image==0.18.1
Send2Trash==1.5.0
sip
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tifffile==2021.1.14
tornado==6.0.4
tqdm==4.44.1
traitlets==4.3.3
urllib3==1.25.9
virtualenv==20.0.18
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.2
yarg==0.1.9
zipp==2.2.1
gputil==1.4.0
