appdirs==1.4.4
attrs==19.3.0
autopep8==1.5.2
backcall==0.1.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
idna==2.9
imageio==2.9.0
importlib-metadata==1.5.0
jedi==0.16.0
Jinja2==2.11.3
jsonschema==3.2.0
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.5
notebook==6.0.3
numpy==1.21.0
olefile==0.46
opencv-python==4.2.0.34
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
prometheus-client==0.7.1
prompt-toolkit==3.0.24
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.7.4
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.2
pytz==2019.3
PyWavelets==1.1.1
pyzmq==18.1.1
requests==2.23.0
scikit-image==0.18.1
scipy==1.4.1
Send2Trash==1.5.0
sip
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tifffile==2021.1.14
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.44.1
traitlets==4.3.3
urllib3==1.25.9
virtualenv==20.0.18
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
yarg==0.1.9
zipp==2.2.1
Flask==1.1.4
pathvalidate==2.5.0
