facenet_pytorch==2.5.2
opencv_python==4.2.0.34
numpy==1.21.0
torchvision==0.5.0
scipy==1.4.1
scikit_image==0.18.1
pretrainedmodels==0.7.4
Cython==0.29.27
decord==0.4.2
einops==0.4.0
lmdb==1.0.0
scikit_learn==0.24.1
pandas==1.0.3
albumentations==0.5.2
Flask==1.1.4
pathvalidate==2.5.0
