easydict==1.8
torch==1.4.0
torchvision==0.5.0
opencv_python==3.4.8.29
albumentations==0.4.5
numpy==1.18.1
Pillow==8.1.1
PyYAML==5.3.1
tensorboardX==2.0
pandas==1.0.4
pydocs==0.2
boto3==1.17.5
Flask==1.1.2
