numpy==1.21.0
opencv_python==4.2.0.34
torch==1.4.0
torchvision==0.5.0
albumentations==0.5.2
efficientnet_pytorch==0.7.0
facenet_pytorch==2.5.1
Pillow==9.0.0
pretrainedmodels==0.7.4
Flask==1.1.4
pandas==1.0.3
boto3==1.20.50
pathvalidate==2.5.0
