numpy
matplotlib
scipy
pandas
requests
plotly
gunicorn
xlsxwriter
requests
flask
packaging
dash==2.7.1
dash_auth
dash-html-components
dash-core-components
dash-uploader
dash_player
dash_bootstrap_components
dash-table
dash-daq
